<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder
        by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CUSTOM_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LogAppender" />
    </appender>

    <appender name="LogAppender"
              class="com.banreservas.audit.resources.LogAppender">
        <application>${log.appender.applicationName}</application>
        <serviceURL>${log.appender.urlService}</serviceURL>
        <ofuscado>${log.appender.ofuscado}</ofuscado>
        <queueSend>${log.appender.queue}</queueSend>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="CUSTOM_ASYNC" />
    </root>

</configuration>